/* Override bootstrap code Start */

/**** Navbar start ****/

/**** Navbar end ****/

body {
    background-color: rgba(22, 29, 40, 0.07);
    color: #22313F;
}

a:hover {
    text-decoration: none;
}

.btn:active,
.btn:focus,
button:active,
button:focus {
    box-shadow: unset;
    outline: none;
}

form .error {
    min-height: 10px;
    text-align: left;
    color: #dd1037;
    font-size: 12px;
    margin-top: 6px;
    margin-left: 10px;
}

.border-err {
    border: 1px solid #dd1037;
}

@media (max-width: 767px) {

    .col-xs-9 {
        width: 74.8%;
    }

    .main .aside-right {
        padding-top: 50px;
        margin-bottom: 90px !important;
        right: 2.2%;
    }
}

.form-control:focus {
    border-color: #cccccc;
    outline: none;
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

.navbar-default {
    background-color: #FFFFFF;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.21);
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-fixed-top {
    width: 79%;
    left: 297px;
}

.content {
    margin-left: 297px;
    padding-top: 70px;
}

.content .main .row {
    margin-left: 15px;
    margin-right: 15px;
    -webkit-perspective: 6000px;
    -moz-perspective: 6000px;
    perspective: 6000px;
}

nav .default-nav li a:hover {
    color: inherit !important;
}

nav .items_icons .page-title {
    padding: 13px 0;
}

nav .items_icons .page-title span {
    font-size: 22px;
    margin-left: 10px;
}

nav .items_icons .page-title > button {
    display: none;
    background: transparent;
    border: none;
}

nav .items_icons .list_items .nav > li {
    display: inline-block;
}

nav .items_icons .list_items ul li:not(.list_gestion) .dropdown-menu {
    min-width: 500px;
    padding: 0;
}

nav .items_icons .list_items ul li:not(.list_gestion) .dropdown-menu li {
    border-bottom: 1px solid #AAA
}

nav .items_icons .list_items ul li:not(.list_gestion) .dropdown-menu li a {
    padding: 15px;
}

nav .items_icons .list_items .navbar-nav > li > a {
    color: #02b3e4;
}

nav .items_icons .list_items .navbar-nav > li > a i {
    font-size: 1.8em;
}

nav .items_icons .list_items .navbar-nav > li > a:hover,
nav .items_icons .list_items .navbar-nav > li > a:focus,
nav .default-nav li:hover {
    background-color: #02b3e4;
    color: #FFFFFF
}

nav .items_icons .search_container form,
nav .items_icons .search_container form .input-group {
    width: 100%;
    padding-top: 2px;
}

nav .items_icons .search_container .navbar-form {
    border: none;
    margin-left: 0;
    margin-right: 0;
}

nav .items_icons .search_container .navbar-form .input-group-addon {
    padding: 0px;
    background-color: transparent;

}

nav .items_icons .search_container .navbar-form .input-group-addon button {
    width: 100%;
    background-color: transparent;
    border: none;
    height: 32px;
}

nav .items_icons .search_container .navbar-form input.form-control {
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: none;
}

/*Phone respensive Start*/

@media (max-width: 768px) {
    nav .items_icons .list_items .navbar-nav {
        float: right !important;
    }

    nav .items_icons .list_items .navbar-nav .open .dropdown-menu {
        position: absolute;
        left: -320px;
        background-color: #e7e7e7;
        min-width: 380px;
    }

    nav .items_icons .list_items .navbar-nav .open.messages .dropdown-menu {
        left: -260px;
    }

    nav .items_icons .list_items .navbar-nav .open.notifications .dropdown-menu {
        left: -205px;
    }

    nav .items_icons .logo {
        width: 90px;
        overflow: hidden
    }
}

@media (max-width: 361px) {
    nav .items_icons .list_items {
        width: 58% !important;
        padding-right: 0px;
        padding-left: 0px;
    }

    nav .items_icons .list_items .navbar-nav .open .dropdown-menu {
        min-width: 310px;
        left: -245px;
    }

    nav .items_icons .list_items .navbar-nav .open.messages .dropdown-menu {
        left: -180px;
    }

    nav .items_icons .list_items .navbar-nav .open.notifications .dropdown-menu {
        left: -120px;
    }
}

/*Phone respensive End*/

/* Override bootstrap code End */

/* Style Start */

/** content page style Start **/

/*** Aside left style start ***/

.aside-left {
    z-index: 1010;
    margin-right: -20px
}

.aside-left .aside-content {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 1040;
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
    width: 297px;
    padding-top: 10px;
    background: #161d28;
    color: #b9c6d5;
    transition: all .4s ease-in-out;
}

.aside-left .my_data .user_info {
    padding: 3px 0 0;
    text-align: left;
}

.aside-left .my_data > a {
    display: flex;
}

.aside-left .my_data > a .user_img {
    margin-left: 30px;
    margin-right: 20px;
}

.aside-left .my_data a .user_img i {
    color: #46bfbe;
    font-size: 3em;
}

.aside-left .my_data a h3,
.aside-left .my_data a p {
    margin-top: 0;
    margin-bottom: 0;
}

.aside-left .my_data a p {
    font-size: 18px;
    color: #d91f2d;
    /*Orange #f7b972*/
}

.aside-left .my_data a h3 {
    font-weight: bold;
    font-size: 20px;
    color: #46bfbe
}

.aside-left .my_data h4 {
    font-size: 18px;
    padding: 10px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.aside-left .my_data li {
    width: 100%;
    margin-bottom: 10px;
}

.active-navigation {
    border-left: 2px solid #d91f2d;
    color: #46bfbe;

}

.aside-left .my_data li:hover {
    border-left: 2px solid #d91f2d;
    cursor: pointer;
    color: #46bfbe;
}

.aside-left .my_data li h4:hover {
    transform: translateX(5px);
    transition: all .2s ease-out;
}

.aside-left .my_data li hr {
    margin: 5px;
    border-color: #30373e;
    width: 200px
}

.aside-left .aside-content .my_data .copyright {
    position: absolute;
    bottom: 0;
    color: #797f7f;
}

.aside-left .aside-content .my_data .copyright span {
    font-size: 18px;
}

.aside-left .aside-content > div,
.main .aside-right .aside-content > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main .aside-right .aside-content .ma_journee a,
.aside-left .aside-content .my_data a {
    padding: 12px 0;
    border: none;
    font-size: 16px;
    color: inherit;
    background-color: transparent;
    font-weight: bold;
}

.main .aside-right .aside-content .ma_journee a {
    background-color: #d91f2d;
    color: #FFFFFF;
}

.main .aside-right .aside-content .ma_journee .well,
.aside-left .aside-content .my_data .well {
    background-color: transparent;
    border: none;
    box-shadow: unset;
}

.main .aside-right .aside-content .ma_journee .well li h4 {
    margin: 5px 0;
    font-weight: bolder;
}

.main .aside-right .aside-content .ma_journee .well li p {
    margin: 5px 0px 10px 15px;
    font-size: 16px;
}

.aside-content .btn-default:hover,
.aside-content .btn-default:focus {
    background: transparent;
}

/*** Aside left style End ***/

/*** Main style start ***/

.main .main {}

.main .main .welcom_day {
    padding: 10px;
    margin: 20px 0px;
    border-radius: 6px;
    box-shadow: 0px 0px 6px 0 rgba(46, 61, 73, .2);
    background: #fafbfc;
}

.main .main .welcom_day h2 {
    margin: 10px;
}

.main .main .welcom_day h2 span {
    color: #67809F;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: monospace;
}

.main .main .welcom_day p {
    color: #676767;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

/* Publication Mold*/

.publication_mold {
    padding-top: 10px;
    margin: 20px 0px;
    border-radius: 6px;
    box-shadow: 0px 0px 6px 0 rgba(46, 61, 73, .2);
    background: #FaFbFc;
}

.publication_mold .publication_head .options_dropdown .dropdown button {
    background: transparent;
    border: none;
    padding-top: 3px;
}

.publication_mold .publication_head .options_dropdown .dropdown button:hover,
.publication_mold .publication_head .options_dropdown .dropdown button:focus {
    color: #657786;
}

.publication_mold .publication_head .options_dropdown .dropdown .dropdown-menu {
    min-width: 248px;
    top: 75%;
    right: 0px;
    left: auto;
    padding: 0;
}

.publication_mold .publication_head .options_dropdown .dropdown .dropdown-menu li {
    padding: 5px 10px;
    font-weight: bold;
}

.publication_mold .publication_head .options_dropdown .dropdown .dropdown-menu li div {
    margin-left: 5px;
    display: inline-block;
}

.publication_mold .publication_head .options_dropdown .dropdown .dropdown-menu li:hover {
    background: #5C97BF;
    cursor: pointer;
    color: #fafbfc;
}

.publication_mold .publication_head .options_dropdown .dropdown .dropdown-menu li:hover div {
    transform: translateX(2px);
    transition: all .2s ease-out;
}

.publication_mold .publication_head .course_info {
    display: flex;
}

.publication_mold .publication_head .course_info .teacher_logo {
    position: relative;
    width: 50px;
}

.publication_mold .publication_head .course_info .teacher_logo span {
    background-color: #5C97BF;
    position: absolute;
    width: 100%;
    text-align: center;
    border-radius: 50%;
    font-size: 35px;
    top: 5px;
}

.publication_mold .publication_head .course_info .module_teacher {
    padding: 10px;
}

.publication_mold .publication_head .course_info .module_teacher h3 {
    margin: 0px;
    display: inline-block;
    font-size: 21px;
}

.publication_mold .publication_head .course_info .module_teacher span {
    font-size: 14px;
    color: #657786;
}

.publication_mold .publication_head .course_info .module_teacher span.separitor {
    font-weight: bold;
    position: relative;
    top: -3px;
}

.publication_mold .publication_body {
    padding: 11px 18px 0px;
}

.publication_mold .publication_body p {
    font-size: 17px;
    margin-bottom: 0px
}

.publication_mold .publication_body .react-bar {
    padding: 5px;
    opacity: 0;
}

.publication_mold:hover .publication_body .react-bar {
    transition: all .1s linear;
    opacity: 1;
}

.publication_mold .react-bar hr {
    border-top: 1px solid #d91f2d;
    margin: 0 0 5px -5px;
    width: 60px;
    text-align: left;
}

.publication_mold .react-bar li {
    color: #5C97BF;
}

.publication_mold .publication_footer {
    border-top: 1px solid rgba(34, 49, 63, .2);
    background-color: #f1f4f6;
}

.publication_mold .publication_footer .current_comments .comment_mold {
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.publication_mold .publication_footer .current_comments .comment_mold .row > .col-xs-2 {
    width: 14.666667%;
}

.publication_mold .publication_footer .current_comments .comment_mold .row:hover .hide {
    display: block !important;
}

.publication_mold .publication_footer .current_comments .comment_mold .student_logo {
    position: relative;
    min-height: 10px;
}

.publication_mold .publication_footer .current_comments .comment_mold .student_logo span {
    position: absolute;
    right: 2px;
    width: 40px;
    height: 40px;
    background: green;
    font-size: 21px;
    text-align: center;
    border-radius: 50%;
    padding: 5px;
}

.publication_mold .publication_footer .current_comments .comment_mold .student_data {
    position: relative;
    background: #FFF;
    padding: 10px;
    margin-left: 10px;
}

.publication_mold .publication_footer .current_comments .comment_mold .student_data > span.arrow {
    border: solid 10px transparent;
    border-right-color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    margin-left: -20px;
}

.publication_mold .publication_footer .current_comments .comment_mold .student_data h5 {
    font-size: 15px;
    font-weight: 600;
}

.publication_mold .publication_footer .current_comments .comment_mold .student_data span.time_comment {
    font-size: 12px;
}

/*** Main style End ***/

/*** Aside right style start ***/

.main .aside-right {
    background-color: #FFFFFF;
    position: fixed;
    top: 20px;
    right: 1%;
    box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
    width: 32%;
}

/*** Aside right style End ***/

/* Modules page Start */

.main .modules {
    margin-top: 25px;
    padding: 10px;
}

.main .modules .card_mold {
    height: 340px;
    position: relative;
    transform-style: preserve-3d;
    transition: all .8s ease-in-out;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 60px;
}

.main .modules .card_mold:hover {
    transform: rotateY(180deg);
}

.main .modules .card_mold .front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    z-index: 2;
    backface-visibility: hidden;
}

.main .modules .card_mold .front .header {
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #161d28;
    border-radius: 10px 10px 0 0;
}

.main .modules .card_mold .front .header > div.circle {
    position: relative;
    top: 23px;
    background-color: #46bfbe;
    font-size: 25px;
    border-radius: 50%;
    color: #d91f2d;
    width: 80px;
    height: 80px;
    padding: 23px 0;
    margin: auto;
}

.main .modules .card_mold .front .body h3 {
    margin-top: 40px;
    font-weight: bold;
    font-size: 22px;
}

.main .modules .card_mold .front .body .description {
    text-align: left;
    font-size: 18px;
    padding: 7px;
}

.main .modules .card_mold .front .body .description li {
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

.main .modules .card_mold .front .body .description li:nth-child(2n+1) {
    background: rgba(48, 55, 62, .08);
}

.main .modules .card_mold .front .body .description li > span {
    color: #555;
    font-size: 13px;
    padding: 3px;
}

.main .modules .card_mold .front .body .description li > span.number {
    font-size: 17px;
}

.main .modules .card_mold .front .body > span {
    color: #67809F;
    font-size: 12px;
}

/** Back Card Style**/

.main .modules .card_mold .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 1;
    overflow: auto;
    transform: rotateY(180deg);
}

.main .modules .card_mold .back h3 {
    margin: 0;
    padding: 10px 20px 0px;
    color: #161d28;
}

.main .modules .card_mold .back ol {
    list-style: decimal-leading-zero;
    padding: 10px 50px;
    font-size: 16px;
}

.main .modules .card_mold .back ol li {
    padding-bottom: 10px;
    font-family: inherit;
}

/* Modules page end */

/*Schedule page start*/

.main .schedules {
    margin-left: .5%;
    margin-right: .5%;
}

.main .schedules .color-index {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 1000px;
}

.main .schedules .color-index div span.square {
    position: relative;
    width: 10px;
    height: 10px;
    padding: 2px 10px;
    margin-right: 10px;
    background: blue;
}

.main .schedules .color-index div.course-c span.square {
    background: rgba(112, 221, 148, 0.3);
    border: 1px solid #70dd94;
}

.main .schedules .color-index div.td-c span.square {
    background: rgba(49, 197, 249, .3);
    border: 1px solid #31c5f9;
}

.main .schedules .color-index div.tp-c span.square {
    background: rgba(255, 211, 76, .3);
    border: 1px solid #ffd34c;
}

.main .schedules .color-index div.empty-c span.square {
    background: rgba(217, 31, 45, .3);
    border: 1px solid #d91f2d;
}



.main .schedules table thead {
    background: #d91f2d;
    color: #EFEFEF;
    text-shadow: 0px 0px 1px;
}

.main .schedules table tbody {
    background-color: #FFF;
}

.main .schedules table thead tr th {
    width: 100px;
}

.main .schedules table tbody tr td.time {
    font-size: 16px;
    font-weight: bold;
}

.main .schedules table thead tr th,
.main .schedules table tbody tr td.time {
    text-align: center;
    vertical-align: middle;
}

.main .schedules table tbody tr td h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 170px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    font-size: 15px;
    font-weight: bold;
    color: #4f5661;
}

.main .schedules table tbody tr td h5 {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 12px;
    width: 170px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    font-size: 13px;
    color: #4f5661;
}

.main .schedules table tbody tr td span {
    font-size: 12px;
    color: #9a9c9e;
}

/*Schedule page End*/

/****Responsive Start****/

@media (max-width: 1200px) {
    .main .aside-right {
        position: relative;
        margin-bottom: 110px;
        margin-left: 10px;
        background-color: transparent;
        box-shadow: unset;
        width: 100%;
    }

    .main .aside-right .aside-content .ma_journee .well {
        background: #FFF;
    }

    .main .aside-left .copyright {
        display: none;
    }

    .main .main {
        margin: 0;
    }
}

@media (max-width: 992px) {
    .aside-left .aside-content {
        left: -300px;
    }

    .aside-left .my_data li {
        margin-bottom: 0px;
    }

    .content {
        margin-left: 0;
    }

    .navbar-fixed-top {
        width: 100%;
        left: auto;
        padding: 0;
    }

    nav .items_icons .page-title > button {
        display: inline-block;
    }

    .main .modules {
        margin-top: 75px;
    }

}

/* for animation jQuery*/

.show-menubar {
    transition: all .4s ease-in-out;
    left: 0px !important;
}

.animate-navbar {
    transition: all .4s ease-in-out;
    right: -297px;
    width: 100%
}

/****Responsive End****/

/*** content page style Start **/

/* Style End */

/*FramWork*/

.reset-margin {
    margin: 0px !important;
}

.reset-padding {
    padding: 0px !important;
}





#test {
    position: relative;
}

#test:hover .over {
    opacity: 1;
}

.over {
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;

}

.over p {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/*
max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px;*/
