/* Override bootstrap code Start */

/**** Navbar start ****/

/**** Navbar end ****/

body {
    padding-top: 70px;
    background-color: #e6ecf0;
    color: #22313F;

}

a:hover {
    text-decoration: none;
}

.btn:active,
.btn:focus,
button:active,
button:focus {
    box-shadow: unset;
    outline: none;
}

form .error {
    min-height: 10px;
    text-align: left;
    color: #dd1037;
    font-size: 12px;
    margin-top: 6px;
    margin-left: 10px;
}

.border-err {
    border: 1px solid #dd1037;
}

@media (max-width: 767px) {

    .col-xs-9 {
        width: 74.8%;
    }
}

.form-control:focus {
    border-color: #cccccc;
    outline: none;
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

.navbar-default {
    background-color: #FFFFFF;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.21);
}

nav .default-nav li a:hover {
    color: inherit !important;
}

nav .container .items_icons .logo > div {
    padding-top: 5px
}

nav .container .items_icons .logo a {
    font-size: 34px;
    color: #5C97BF;
    opacity: .89;
}

nav .container .items_icons .logo a:hover {
    opacity: 1;
}

nav .container .items_icons .list_items .nav > li {
    display: inline-block;
}

nav .container .items_icons .list_items ul li:not(.list_gestion) .dropdown-menu {
    min-width: 500px;
    padding: 0;
}

nav .container .items_icons .list_items ul li:not(.list_gestion) .dropdown-menu li {
    border-bottom: 1px solid #AAA
}

nav .container .items_icons .list_items ul li:not(.list_gestion) .dropdown-menu li a {
    padding: 15px;
}

nav .container .items_icons .list_items .navbar-nav > li > a {
    color: #5C97BF;
}

nav .container .items_icons .list_items .navbar-nav > li > a i {
    font-size: 1.8em;
}

nav .container .items_icons .list_items .navbar-nav > li > a:hover,
nav .container .items_icons .list_items .navbar-nav > li > a:focus,
nav .default-nav li:hover {
    background-color: #5C97BF;
    color: #FFFFFF
}

nav .container .items_icons .search_container form,
nav .container .items_icons .search_container form .input-group {
    width: 100%;
    padding-top: 2px;
}

nav .container .items_icons .search_container .navbar-form {
    border: none;
    margin-left: 0;
    margin-right: 0;
}

nav .container .items_icons .search_container .navbar-form .input-group-addon {
    padding: 0px;
    background-color: transparent;

}

nav .container .items_icons .search_container .navbar-form .input-group-addon button {
    width: 100%;
    background-color: transparent;
    border: none;
    height: 32px;
}

nav .container .items_icons .search_container .navbar-form input.form-control {
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: none;
}

/*Phone respensive Start*/

@media (max-width: 768px) {
    nav .container .items_icons .list_items .navbar-nav {
        float: right !important;
    }
    nav .container .items_icons .list_items .navbar-nav .open .dropdown-menu {
        position: absolute;
        left: -320px;
        background-color: #e7e7e7;
        min-width: 380px;
    }
    nav .container .items_icons .list_items .navbar-nav .open.messages .dropdown-menu {
        left: -260px;
    }
    nav .container .items_icons .list_items .navbar-nav .open.notifications .dropdown-menu {
        left: -205px;
    }
    nav .container .items_icons .logo {
        width: 90px;
        overflow: hidden
    }
}

@media (max-width: 361px) {
    nav .container .items_icons .list_items {
        width: 69%;
    }
    nav .container .items_icons .list_items .navbar-nav .open .dropdown-menu {
        min-width: 310px;
        left: -245px;
    }

    nav .container .items_icons .list_items .navbar-nav .open.messages .dropdown-menu {
        left: -180px;
    }
    nav .container .items_icons .list_items .navbar-nav .open.notifications .dropdown-menu {
        left: -120px;
    }
}

/*Phone respensive End*/

/* Override bootstrap code End */

/* Style Start */

/** content page style Start **/

/*** Aside left style start ***/

.content-page .aside-left {
    z-index: 1010;
    margin-right: -20px
}

.content-page .aside-left .aside-content {
    position: fixed;
    top: 65px;
    left: 0;
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
    width: 24%;
}

.content-page .aside-left .my_data .user_info {
    padding: 3px 0 0;
    float: right;
    width: 230px;
    text-align: left;
}

.content-page .aside-left .my_data a {
    overflow: hidden;
}

.content-page .aside-left .my_data a .user_img {
    float: left;
    width: 50px;
    position: relative;
}

.content-page .aside-left .my_data a .user_img span {
    background-color: #67809F;
    position: absolute;
    width: 100%;
    text-align: center;
    border-radius: 15px;
    font-size: 35px;
    font-family: "Courier New", Courier, monospace;
    color: #F0F0F0;
}

.content-page .aside-left .my_data a h3,
.content-page .aside-left .my_data a p {
    margin-top: 0;
    margin-bottom: 0;
}

.content-page .aside-left .my_data a p {
    font-size: 18px;
    color: #cc5333;
    /*Orange #f7b972*/
}

.content-page .aside-left .my_data a h3 {
    font-weight: bold;
    font-size: 20px;
    color: #67809F
}

.content-page .aside-left .my_data h4 {
    font-size: 18px;
    padding: 10px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.content-page .aside-left .my_data li {
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
}

.avtive-navigation {
    border-left: 2px solid #cc5333;
    color: #5C97BF;

}

.content-page .aside-left .my_data li:hover {
    border-left: 2px solid #cc5333;
    cursor: pointer;
    color: #5C97BF;
}

.content-page .aside-left .my_data li h4:hover {
    transform: translateX(5px);
    transition: all .2s ease-out;
}

.content-page .aside-left .my_data li hr {
    margin: 5px;
    border-color: #cc5333;
    width: 200px
}

.content-page .aside-left .aside-content .my_data .copyright {
    margin-top: 100px;
    color: #797f7f;
}

.content-page .aside-left .aside-content .my_data .copyright span {
    font-size: 18px;
}

.content-page .aside-left .aside-content > div,
.content-page .aside-right .aside-content > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-page .aside-right .aside-content .ma_journee a,
.content-page .aside-left .aside-content .my_data a {
    padding: 12px 0;
    border: none;
    font-size: 16px;
    color: inherit;
    background-color: transparent;
    font-weight: bold;
}

.content-page .aside-right .aside-content .ma_journee a {
    background-color: #cc5333;
    color: #FFFFFF;
}

.content-page .aside-right .aside-content .ma_journee .well,
.content-page .aside-left .aside-content .my_data .well {
    background-color: transparent;
    border: none;
    box-shadow: unset;
}


.content-page .aside-right .aside-content .ma_journee .well li h4 {
    margin: 5px 0;
    font-weight: bolder;
}

.content-page .aside-right .aside-content .ma_journee .well li p {
    margin: 5px 0px 10px 15px;
    font-size: 16px;
}

.aside-content .btn-default:hover,
.aside-content .btn-default:focus {
    background: transparent;
}

/*** Aside left style End ***/

/*** Main style start ***/

.content-page .main {}

.content-page .main .welcom_day {
    padding: 10px;
    margin: 20px 0px;
    border-radius: 6px;
    box-shadow: 0px 0px 6px 0 rgba(46, 61, 73, .2);
    background: #fafbfc;
}

.content-page .main .welcom_day h2 {
    margin: 10px;
}

.content-page .main .welcom_day h2 span {
    color: #67809F;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: monospace;
}

.content-page .main .welcom_day p {
    color: #676767;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

/* Publication Mold*/

.publication_mold {
    padding-top: 10px;
    margin: 20px 0px;
    border-radius: 6px;
    box-shadow: 0px 0px 6px 0 rgba(46, 61, 73, .2);
    background: #FaFbFc;
}

.publication_mold .publication_head .options_dropdown .dropdown button {
    background: transparent;
    border: none;
    padding-top: 3px;
}

.publication_mold .publication_head .options_dropdown .dropdown button:hover,
.publication_mold .publication_head .options_dropdown .dropdown button:focus {
    color: #657786;
}

.publication_mold .publication_head .options_dropdown .dropdown .dropdown-menu {
    min-width: 248px;
    top: 75%;
    right: 0px;
    left: auto;
    padding: 0;
}

.publication_mold .publication_head .options_dropdown .dropdown .dropdown-menu li {
    padding: 5px 10px;
    font-weight: bold;
}

.publication_mold .publication_head .options_dropdown .dropdown .dropdown-menu li div {
    margin-left: 5px;
    display: inline-block;
}

.publication_mold .publication_head .options_dropdown .dropdown .dropdown-menu li:hover {
    background: #5C97BF;
    cursor: pointer;
    color: #fafbfc;
}

.publication_mold .publication_head .options_dropdown .dropdown .dropdown-menu li:hover div {
    transform: translateX(2px);
    transition: all .2s ease-out;
}

.publication_mold .publication_head .course_info {
    display: flex;
}

.publication_mold .publication_head .course_info .teacher_logo {
    position: relative;
    width: 50px;
}

.publication_mold .publication_head .course_info .teacher_logo span {
    background-color: #5C97BF;
    position: absolute;
    width: 100%;
    text-align: center;
    border-radius: 50%;
    font-size: 35px;
    top: 5px;
}

.publication_mold .publication_head .course_info .module_teacher {
    padding: 10px;
}

.publication_mold .publication_head .course_info .module_teacher h3 {
    margin: 0px;
    display: inline-block;
    font-size: 21px;
}

.publication_mold .publication_head .course_info .module_teacher span {
    font-size: 14px;
    color: #657786;
}

.publication_mold .publication_head .course_info .module_teacher span.separitor {
    font-weight: bold;
    position: relative;
    top: -3px;
}

.publication_mold .publication_body {
    padding: 11px 18px 0px;
}


.publication_mold .publication_body p {
    font-size: 17px;
    margin-bottom: 0px
}

.publication_mold .publication_body .react-bar {
    padding: 5px;
    opacity: 0;
}

.publication_mold:hover .publication_body .react-bar {
    transition: all .1s linear;
    opacity: 1;
}

.publication_mold .react-bar hr {
    border-top: 1px solid #cc5333;
    margin: 0 0 5px -5px;
    width: 60px;
    text-align: left;
}

.publication_mold .react-bar li {
    color: #5C97BF;
}



.publication_mold .publication_footer {
    border-top: 1px solid rgba(34, 49, 63, .2);
    background-color: #f1f4f6;
}

.publication_mold .publication_footer .current_comments .comment_mold {
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.publication_mold .publication_footer .current_comments .comment_mold .row > .col-xs-2 {
    width: 14.666667%;
}

.publication_mold .publication_footer .current_comments .comment_mold .row:hover .hide {
    display: block !important;
}

.publication_mold .publication_footer .current_comments .comment_mold .student_logo {
    position: relative;
    min-height: 10px;
}

.publication_mold .publication_footer .current_comments .comment_mold .student_logo span {
    position: absolute;
    right: 2px;
    width: 40px;
    height: 40px;
    background: green;
    font-size: 21px;
    text-align: center;
    border-radius: 50%;
    padding: 5px;
}

.publication_mold .publication_footer .current_comments .comment_mold .student_data {
    position: relative;
    background: #FFF;
    padding: 10px;
    margin-left: 10px;
}

.publication_mold .publication_footer .current_comments .comment_mold .student_data > span.arrow {
    border: solid 10px transparent;
    border-right-color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    margin-left: -20px;
}

.publication_mold .publication_footer .current_comments .comment_mold .student_data h5 {
    font-size: 15px;
    font-weight: 600;
}

.publication_mold .publication_footer .current_comments .comment_mold .student_data span.time_comment {
    font-size: 12px;
}


/*** Main style End ***/

/*** Aside right style start ***/

.content-page .aside-right {
    background-color: #FFFFFF;
    position: fixed;
    top: 90px;
    z-index: 1020;
    right: 1%;
    box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2)
}


/*** Aside right style End ***/

/* Modules page Start */

.content-page .modules {
    margin-top: 25px;
    padding: 10px;
}

.content-page .modules .card_mold {
    height: 340px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}

.content-page .modules .card_mold .front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    z-index: 2;
    display: none;
}

.content-page .modules .card_mold .front .header {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #444;
    border-radius: 10px 10px 0 0;
}

.content-page .modules .card_mold .front .header > span {
    position: absolute;
    top: 35px;
    left: 126px;
    width: 80px;
    height: 80px;
    border: .5px solid #EEE;
    background-color: #cc5333;
    font-size: 25px;
    border-radius: 50%;
    padding: 22px;
    margin: 0px auto;
}

.content-page .modules .card_mold .front .body h3 {
    margin-top: 50px;
    font-weight: bold;
}

.content-page .modules .card_mold .front .body p.description {
    color: #555;
    font-size: 18px;
    padding: 7px;
}

.content-page .modules .card_mold .front .body span {
    color: #67809F;
    font-size: 16px;
}

/** Back Card Style**/

.content-page .modules .card_mold .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 1;
    overflow: auto;
}

.content-page .modules .card_mold .back ol {
    list-style: upper-alpha;
    padding: 10px 40px;
    font-size: 16px;
    font-family: initial;
}

.content-page .modules .card_mold .back ol li {
    padding: 10px;
    font-family: inherit;
}

/* Modules page Start */

/****Responsive Start****/

@media (max-width: 1200px) {
    .content-page .aside-left .aside-content,
    .content-page .aside-right {
        position: relative;
        margin-bottom: 60px;
        width: 100%;
    }
    .content-page .aside-left .copyright {
        display: none;
    }
    .content-page .aside-right {
        box-shadow: unset;
    }
    .content-page .main {
        margin: 0;
    }
}

/****Responsive End****/

/*** content page style Start **/

/* Style End */

/*FramWork*/

.reset-margin {
    margin: 0px !important;
}
